{% extends 'blog/base.html' %}

{% block title %}
 Страница авторизации
{% endblock %}

{% block content %}
<h1>Страница авторизации</h1>
<form method="post" class="form-register auth">
    {% csrf_token %} <!-- Ключ безопасности -->
    {{ form.as_p }} <!--form - это форма регистрации (ключ). as_p - фильтр каждое поле как отдельный параграф-->
    <button class="btn btn-info" type="submit">Войти</button>
    <hr>
    <p>Забыли пароль? <a href="{% url 'pass-reset' %}">Получить новый</a></p>
</form>

{% endblock %}

{% block aside_block %}
<h4 class="mt-3">Интересные статьи</h4>

<img src="https://itproger.com/img/courses/1601651547.jpg" alt="img" class="img-thumbnail mt-2">
<p>Разработка на C# включает в себе множество аспектов.
    За курс мы будем изучать платформу WPF,
    что позволяет вести разработку полноценных программ под ПК.
    научимся работать с WPF, языком XAML и по итогу создадим полный проект с базой данных.</p>

<a href="https://itproger.com/course/golang" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>

<img src="https://itproger.com/img/courses/1606232997.jpg" alt="img" class="img-thumbnail mt-4">
<p>Представляем вам курс по изучению языка Golang.
    В ходе уроков языка Go вы научитесь писать код на Golang и
    создадите на его основе полноценный небольшой веб сайт.
    Курс небольшой и рассчитан на новичков в этой сфере.</p>

<a href="https://itproger.com/course/golang" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>

{% endblock %}